/* ==UserStyle==
@name           MaterialDDG
@description    A Material Design-inspired UserCSS theme for DuckDuckGo.
@author         reizumi
@namespace      codeberg.org/reizumi/MaterialDDG
@homepageURL    https://codeberg.org/reizumi/MaterialDDG
@updateURL      https://codeberg.org/reizumi/MaterialDDG/raw/branch/master/material-ddg.user.css
@supportURL     https://codeberg.org/reizumi/MaterialDDG/issues
@preprocessor   stylus
@version        2.1.3
@license        CC-BY-SA-4.0

@var select     colorTheme          "Preset color theme" {
    "System default": "system",
    "Light"         : "light",
    "Dark"          : "dark",
    "Gruvbox-Light" : "gruvbox-light",
    "Gruvbox-Dark"  : "gruvbox-dark",
    "Peach"         : "peach",
    "Moonlight"     : "moonlight",
    "Custom"        : "custom",
}
@var text       fontName            "Interface font"            default
@var text       fontNameMono        "Code font"                 default
@var checkbox   signInButton        "Fake sign-in button"       1
@var checkbox   enableAnimations    "Enable animations"         1
@var checkbox   hideDuckbar         "Hide duckbar on scroll"    1
@var checkbox   hideFeedbackPromo   "Hide feedback and promos"  0
@var checkbox   hideFavicons        "Hide site favicons"        0
@var checkbox   colorSelection      "Theme text selection"      0
@var color      bg-1                "Custom background 1"       #171717
@var color      bg-2                "Custom background 2"       #202124
@var color      bg-3                "Custom background 3"       #303134
@var color      fg-1                "Custom foreground 1"       #fff
@var color      fg-2                "Custom foreground 2"       #bdc1c6
@var color      fg-3                "Custom foreground 3"       #969ba1
@var color      ac-1                "Custom accent color"       #8ab4f8
@var text       ic-f                "Custom icon filter"        invert(72%) sepia(3%) saturate(588%) hue-rotate(173deg) brightness(85%) contrast(93%)
@var text       ac-f                "Custom accent filter"      invert(75%) sepia(7%) saturate(6288%) hue-rotate(186deg) brightness(101%) contrast(94%)
@var color      br-1                "Custom border color"       #3c4043
@var color      sr-b                "Custom search bar color"   #303134
@var color      sw-b                "Custom switch background"  rgba(138, 180, 248, .5)
@var color      sl-h                "Custom selection color"    rgba(26, 115, 232, .6)
@var color      bt-h                "Custom button hover"       rgba(138, 180, 248, .08)
@var color      calc-sci-b          "Custom calculator color 1" #5f6368
@var color      calc-ari-b          "Custom calculator color 2" #3c4043
@var color      calc-til-h          "Custom calculator hover"   #424548
==/UserStyle== */

/*
    For generating custom CSS filters, you can use a website or tool that converts color values to CSS filters
*/

@-moz-document regexp("^https?:\\/\\/(www\\.|start\\.)?duckduckgo.com\\/(|(?!bang).*[^\\\\?]*[a-z]=.*|settings.*)") {
    :root {
        --version: "MaterialDDG v2.1.3";
        light() {
            --bg-1: #f2f2f2;
            --bg-2: #fff;
            --bg-3: #f1f3f4;
            --fg-1: #212121;
            --fg-2: #4d5156;
            --fg-3: #5f6368;
            --ac-1: #1a73e8;
            --br-1: #ebebeb;
            --sr-b: #fff;
            --sw-b: rgba(26, 115, 232, .5);
            --sl-h: rgba(26, 115, 232, .2);
            --bt-h: rgba(138, 180, 248, .08);
            --ic-f: invert(40%) sepia(7%) saturate(378%) hue-rotate(173deg) brightness(92%) contrast(86%);
            --ac-f: invert(50%) sepia(64%) saturate(7404%) hue-rotate(204deg) brightness(97%) contrast(87%);
            --sr-s: 0 2px 5px 1px rgba(64, 60, 67, .16);
            --sr-h: 0 2px 8px 1px rgba(64, 60, 67, .24);
            --md-s: 0 2px 10px 0 rgba(0, 0, 0, .2);
            --calc-sci-b: #dadce0;
            --calc-ari-b: #f1f3f4;
            --calc-til-h: #f1f3f4;
            --color-scheme: light;
        }
        dark() {
            --bg-1: #171717;
            --bg-2: #202124;
            --bg-3: #303134;
            --fg-1: #e8eaed;
            --fg-2: #bdc1c6;
            --fg-3: #969ba1;
            --ac-1: #8ab4f8;
            --br-1: #3c4043;
            --sr-b: #303134;
            --sw-b: rgba(138, 180, 248, .5);
            --sl-h: rgba(26, 115, 232, .3);
            --bt-h: rgba(138, 180, 248, .08);
            --ic-f: invert(72%) sepia(3%) saturate(588%) hue-rotate(173deg) brightness(85%) contrast(93%);
            --ac-f: invert(75%) sepia(7%) saturate(6288%) hue-rotate(186deg) brightness(101%) contrast(94%);
            --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
            --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
            --md-s: 1px 1px 15px 0px #171717;
            --calc-sci-b: #5f6368;
            --calc-ari-b: #3c4043;
            --calc-til-h: #424548;
            --color-scheme: dark;
        }
        /* Color theme selection */
        if colorTheme == system {
            @media (prefers-color-scheme: light) {
                light();
            }
            @media (prefers-color-scheme: dark) {
                dark();
            }
        } else if colorTheme == light {
            light();
        } else if colorTheme == dark {
            dark();
        } else if colorTheme == gruvbox-light {
            --bg-1: #ebdbb2;
            --bg-2: #f2e5bc;
            --bg-3: #d5c4a1;
            --fg-1: #3c3836;
            --fg-2: #504945;
            --fg-3: #665c54;
            --ac-1: #076678;
            --br-1: #bdae93;
            --sr-b: #d5c4a1;
            --sw-b: rgba(7, 102, 120, .5);
            --sl-h: rgba(7, 102, 120, .25);
            --bt-h: rgba(138, 180, 248, .08);
            --ic-f: invert(36%) sepia(8%) saturate(760%) hue-rotate(344deg) brightness(94%) contrast(84%);
            --ac-f: invert(15%) sepia(99%) saturate(3236%) hue-rotate(176deg) brightness(92%) contrast(94%);
            --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
            --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
            --md-s: 0 2px 10px 0 rgba(0, 0, 0, .2);
            --calc-sci-b: #bdae93;
            --calc-ari-b: #d5c4a1;
            --calc-til-h: #a89984;
            --color-scheme: light;
        } else if colorTheme == gruvbox-dark {
            --bg-1: #1d2021;
            --bg-2: #282828;
            --bg-3: #32302f;
            --fg-1: #ebdbb2;
            --fg-2: #d5c4a1;
            --fg-3: #a89984;
            --ac-1: #83a598;
            --br-1: #3c3836;
            --sr-b: #32302f;
            --sw-b: rgba(131, 165, 152, .5);
            --sl-h: rgba(131, 165, 152, .25);
            --bt-h: rgba(138, 180, 248, .08);
            --ic-f: invert(68%) sepia(12%) saturate(523%) hue-rotate(356deg) brightness(90%) contrast(84%);
            --ac-f: invert(74%) sepia(14%) saturate(456%) hue-rotate(105deg) brightness(84%) contrast(83%);
            --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
            --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
            --md-s: 1px 1px 15px 0px #1d2021;
            --calc-sci-b: #504945;
            --calc-ari-b: #32302f;
            --calc-til-h: #3c3836;
            --color-scheme: dark;
        } else if colorTheme == peach {
            --bg-1: #ffd5c0;
            --bg-2: #ffede8;
            --bg-3: #ffd0be;
            --fg-1: #6b454c;
            --fg-2: #7e515a;
            --fg-3: #af838c;
            --ac-1: #c93867;
            --br-1: #fdb099;
            --sr-b: #ffe7dc;
            --sw-b: rgba(201, 56, 103, .5);
            --sl-h: rgba(201, 56, 103, .15);
            --bt-h: rgba(201, 56, 103, .08);
            --ic-f: invert(59%) sepia(16%) saturate(584%) hue-rotate(298deg) brightness(93%) contrast(87%);
            --ac-f: invert(33%) sepia(71%) saturate(2904%) hue-rotate(321deg) brightness(84%) contrast(85%);
            --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
            --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
            --md-s: 0 2px 10px 0 rgba(0, 0, 0, .2);
            --calc-sci-b: #ffbd9c;
            --calc-ari-b: #ffd5c0;
            --calc-til-h: #ffc6aa;
            --color-scheme: light;
        } else if colorTheme == moonlight {
            --bg-1: #223;
            --bg-2: #2b2b3c;
            --bg-3: #334;
            --fg-1: #eef;
            --fg-2: #ccd;
            --fg-3: #99a;
            --ac-1: #aaf;
            --br-1: #445;
            --sr-b: #334;
            --sw-b: rgba(153, 153, 238, .5);
            --sl-h: rgba(153, 153, 238, .25);
            --bt-h: rgba(138, 180, 248, .08);
            --ic-f: invert(67%) sepia(15%) saturate(267%) hue-rotate(202deg) brightness(91%) contrast(82%);
            --ac-f: invert(58%) sepia(29%) saturate(963%) hue-rotate(202deg) brightness(114%) contrast(101%);
            --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
            --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
            --md-s: 1px 1px 15px 0px #223;
            --calc-sci-b: #5d5d6e;
            --calc-ari-b: #445;
            --calc-til-h: #556;
            --color-scheme: dark;
        } else if colorTheme == custom {
            --bg-1: bg-1;
            --bg-2: bg-2;
            --bg-3: bg-3;
            --fg-1: fg-1;
            --fg-2: fg-2;
            --fg-3: fg-3;
            --ac-1: ac-1;
            --br-1: br-1;
            --sr-b: sr-b;
            --sw-b: sw-b;
            --sl-h: sl-h;
            --bt-h: bt-h;
            --ic-f: ic-f;
            --ac-f: ac-f;
            --calc-sci-b: calc-sci-b;
            --calc-ari-b: calc-ari-b;
            --calc-til-h: calc-til-h;
            
            /* Apply drop shadow and color scheme option depending on the background color's darkness */
            if dark(bg-2) {
                --sr-s: 0 1px 3px rgba(23, 23, 23, .24);
                --sr-h: 0 4px 12px rgba(23, 23, 23, .9);
                --md-s: 1px 1px 15px 0px var(--bg-1);
                --color-scheme: dark;
            } else {
                --sr-s: 0 2px 5px 1px rgba(64, 60, 67, .16);
                --sr-h: 0 2px 8px 1px rgba(64, 60, 67, .24);
                --md-s: 0 2px 10px 0 rgba(0, 0, 0, .2);
                --color-scheme: light;
            }
        }
        @supports (color-scheme: var(--color-scheme)) {
            color-scheme: var(--color-scheme);
        }
        /* Icons */
        --ic-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'%3E%3C/path%3E%3C/svg%3E");
        --ic-web: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16.32 14.88a8.04 8.04 0 1 0-1.44 1.44l5.76 5.76 1.44-1.44-5.76-5.76zm-6.36 1.08c-3.36 0-6-2.64-6-6s2.64-6 6-6 6 2.64 6 6-2.64 6-6 6'%3E%3C/path%3E%3C/svg%3E");
        --ic-images: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 13l4 5H6l4-4 1.79 1.78L14 13zm-6.01-2.99A2 2 0 0 0 8 6a2 2 0 0 0-.01 4.01zM22 5v14a3 3 0 0 1-3 2.99H5c-1.64 0-3-1.36-3-3V5c0-1.64 1.36-3 3-3h14c1.65 0 3 1.36 3 3zm-2.01 0a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h7v-.01h7a1 1 0 0 0 1-1V5'%3E%3C/path%3E%3C/svg%3E");
        --ic-videos: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 16.5l6-4.5-6-4.5v9zM5 20h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1zm14.5 2H5a3 3 0 0 1-3-3V4.4A2.4 2.4 0 0 1 4.4 2h15.2A2.4 2.4 0 0 1 22 4.4v15.1a2.5 2.5 0 0 1-2.5 2.5'%3E%3C/path%3E%3C/svg%3E");
        --ic-news: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 11h6v2h-6v-2zm-6 6h12v-2H6v2zm0-4h4V7H6v6zm16-7.22v12.44c0 1.54-1.34 2.78-3 2.78H5c-1.64 0-3-1.25-3-2.78V5.78C2 4.26 3.36 3 5 3h14c1.64 0 3 1.25 3 2.78zM19.99 12V5.78c0-.42-.46-.78-1-.78H5c-.54 0-1 .36-1 .78v12.44c0 .42.46.78 1 .78h14c.54 0 1-.36 1-.78V12zM12 9h6V7h-6v2'%3E%3C/path%3E%3C/svg%3E");
        --ic-maps: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M7.503 0c3.09 0 5.502 2.487 5.502 5.427 0 2.337-1.13 3.694-2.26 5.05-.454.528-.906 1.13-1.358 1.734-.452.603-.754 1.508-.98 1.96-.226.452-.377.829-.904.829-.528 0-.678-.377-.905-.83-.226-.451-.527-1.356-.98-1.959-.452-.603-.904-1.206-1.356-1.734C3.132 9.121 2 7.764 2 5.427 2 2.487 4.412 0 7.503 0zm0 1.364c-2.283 0-4.14 1.822-4.14 4.063 0 1.843.86 2.873 1.946 4.177.468.547.942 1.178 1.4 1.79.34.452.596.99.794 1.444.198-.455.453-.992.793-1.445.459-.61.931-1.242 1.413-1.803 1.074-1.29 1.933-2.32 1.933-4.163 0-2.24-1.858-4.063-4.139-4.063zm0 2.734a1.33 1.33 0 11-.001 2.658 1.33 1.33 0 010-2.658'%3E%3C/path%3E%3C/svg%3E");
        --ic-general: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10M10,22C9.75,22 9.54,21.82 9.5,21.58L9.13,18.93C8.5,18.68 7.96,18.34 7.44,17.94L4.95,18.95C4.73,19.03 4.46,18.95 4.34,18.73L2.34,15.27C2.21,15.05 2.27,14.78 2.46,14.63L4.57,12.97L4.5,12L4.57,11L2.46,9.37C2.27,9.22 2.21,8.95 2.34,8.73L4.34,5.27C4.46,5.05 4.73,4.96 4.95,5.05L7.44,6.05C7.96,5.66 8.5,5.32 9.13,5.07L9.5,2.42C9.54,2.18 9.75,2 10,2H14C14.25,2 14.46,2.18 14.5,2.42L14.87,5.07C15.5,5.32 16.04,5.66 16.56,6.05L19.05,5.05C19.27,4.96 19.54,5.05 19.66,5.27L21.66,8.73C21.79,8.95 21.73,9.22 21.54,9.37L19.43,11L19.5,12L19.43,13L21.54,14.63C21.73,14.78 21.79,15.05 21.66,15.27L19.66,18.73C19.54,18.95 19.27,19.04 19.05,18.95L16.56,17.95C16.04,18.34 15.5,18.68 14.87,18.93L14.5,21.58C14.46,21.82 14.25,22 14,22H10M11.25,4L10.88,6.61C9.68,6.86 8.62,7.5 7.85,8.39L5.44,7.35L4.69,8.65L6.8,10.2C6.4,11.37 6.4,12.64 6.8,13.8L4.68,15.36L5.43,16.66L7.86,15.62C8.63,16.5 9.68,17.14 10.87,17.38L11.24,20H12.76L13.13,17.39C14.32,17.14 15.37,16.5 16.14,15.62L18.57,16.66L19.32,15.36L17.2,13.81C17.6,12.64 17.6,11.37 17.2,10.2L19.31,8.65L18.56,7.35L16.15,8.39C15.38,7.5 14.32,6.86 13.12,6.62L12.75,4H11.25Z' /%3E%3C/svg%3E");
        --ic-appearance: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2C17.5,2 22,6 22,11A6,6 0 0,1 16,17H14.2C13.9,17 13.7,17.2 13.7,17.5C13.7,17.6 13.8,17.7 13.8,17.8C14.2,18.3 14.4,18.9 14.4,19.5C14.5,20.9 13.4,22 12,22M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C12.3,20 12.5,19.8 12.5,19.5C12.5,19.3 12.4,19.2 12.4,19.1C12,18.6 11.8,18.1 11.8,17.5C11.8,16.1 12.9,15 14.3,15H16A4,4 0 0,0 20,11C20,7.1 16.4,4 12,4M6.5,10C7.3,10 8,10.7 8,11.5C8,12.3 7.3,13 6.5,13C5.7,13 5,12.3 5,11.5C5,10.7 5.7,10 6.5,10M9.5,6C10.3,6 11,6.7 11,7.5C11,8.3 10.3,9 9.5,9C8.7,9 8,8.3 8,7.5C8,6.7 8.7,6 9.5,6M14.5,6C15.3,6 16,6.7 16,7.5C16,8.3 15.3,9 14.5,9C13.7,9 13,8.3 13,7.5C13,6.7 13.7,6 14.5,6M17.5,10C18.3,10 19,10.7 19,11.5C19,12.3 18.3,13 17.5,13C16.7,13 16,12.3 16,11.5C16,10.7 16.7,10 17.5,10Z' /%3E%3C/svg%3E");
        --ic-privacy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z' /%3E%3C/svg%3E");
        --ic-more: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z'%3E%3C/path%3E%3C/svg%3E");
        --ic-volume: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z' /%3E%3C/svg%3E");
        --ic-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7,10L12,15L17,10H7Z' /%3E%3C/svg%3E");
        
        /* Site root variables */
        --theme-col-bg-ui: var(--bg-2) !important;
        --theme-col-bg-ui-active: var(--bg-3) !important;
        --theme-col-border-ui: var(--br-1) !important;
        --theme-col-txt-title: var(--ac-1) !important;
        --theme-col-txt-snippet: var(--fg-2) !important;
        --theme-col-txt-url: var(--fg-3) !important;
        --theme-col-txt-url-domain: var(--fg-2) !important;
        --theme-col-txt-url-path: var(--fg-3) !important;
        --theme-col-txt-header-link: var(--fg-2) !important;
        --theme-col-txt-header-link-hover: var(--fg-1) !important;
        --theme-col-txt-button-secondary: var(--fg-1) !important;
        --theme-col-bg-page: var(--bg-2) !important;
        --theme-col-bg-page-transparent: transparent !important;
        --theme-col-bg-txt-2: var(--fg-2) !important;
        --theme-col-bg-card: var(--bg-2) !important;
        --theme-col-bg-header-modal: var(--bg-2) !important;
        --theme-col-bg-button-secondary: var(--bg-3) !important;
        --theme-col-bg-button-secondary-hover: var(--bg-3) !important;
        --theme-col-bg-button-secondary-active: var(--bg-3) !important;
        --theme-col-border-ui: var(--br-1) !important;
        --theme-col-card-inner-border: var(--br-1) !important;
        --theme-col-txt-card-body: var(--fg-1) !important;
        --theme-col-txt-card-body-light: var(--fg-3) !important;
        --theme-shadow-card: none !important;
        --col-grey-dark: var(--fg-3) !important;
        --sds-color-text-04: var(--fg-3) !important;
    }
    if fontName != default {
        body,
        input,
        select,
        textarea,
        span:not(code span),
        div {
            font-family: fontName, sans-serif;
        }
        .module__toggle__chevron,
        .module__toggle__chevron--alt {
            font-family: 'ddg-serp-icons' !important;
        }
    }
    if fontNameMono != default {
        pre,
        tt,
        code {
            font-family: fontNameMono, monospace;
        }
    }
    if signInButton {
        html[lang="en-US"] .header-wrap .header--aside {
            margin: 8px auto auto 16px;
        }
        .body--home .social,
        .header--aside__social,
        .header--aside__item .popout-trig {
            display: none !important;
        }
        .header__button,
        .header__button--menu {
            float: none;
        }
        .header__button--menu {
            right: 16px;
            font-size: 0;
            border-radius: 99px;
        }
        .is-atb-fullbleed .header--aside .header__button--menu {
            height: 22px;
        }
        .is-atb-fullbleed .header--aside .header__button--menu::before {
            line-height: 26px;
            top: 0;
        }
        .header__button--menu:not(.page-settings .header__button--menu) {
            display: inline-block;
            right: 40px;
        }
        .header__button--menu::before {
            content: "";
            background-image: var(--ic-more);
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            display: inline-block;
            position: relative;
            top: 4px;
            filter: var(--ic-f);
        }
        @media only screen and (max-width: 591px) {
            .header__button--menu:not(.page-settings .header__button--menu) {
                top: 0 !important;
            }
            .is-mobile .body--home .header--aside {
                margin: 12px 50px 0 16px;
            }
        }
        @media only screen and (max-width: 1079px) {
            .header__button--menu:not(.page-settings .header__button--menu) {
                right: 0;
                top: -2px;
            }
            .header__button--menu {
                right: 0;
                top: 17px;
            }
        }
        .header--aside__item .header__clickable,
        .header--aside__item .header__clickable:hover {
            color: var(--bg-2) !important;
        }
        .header--aside__item {
            background-color: var(--ac-1);
            padding: 0 18px;
            border-radius: 4px;
            height: 36px;
            font-size: 0 !important;
            line-height: 34px;
            right: 20px;
        }
        .header--aside__item > * {
            display: none !important;
        }
        .header--aside__item::before {
            font-size: 14px !important;
            color: var(--bg-2);
        }
        .header__clickable .header__clickable--icon {
            display: none;
        }
        /* Sign in: Language localization */
        html[lang] { --si-label: "Sign in"; }
        html[lang="af-ZA"] { --si-label: "Meld aan"; }
        html[lang="es-ES"] { --si-label: "Iniciar sesión"; }
        html[lang="ja-JP"] { --si-label: "ログイン"; }
        html[lang="ko-KR"] { --si-label: "로그인"; }
        html[lang="de-DE"] { --si-label: "Anmelden"; }
        html[lang="fr-FR"] { --si-label: "Connexion"; }
        html[lang="nl-NL"] { --si-label: "Inloggen"; }
        html[lang="pl-PL"] { --si-label: "Zaloguj się"; }
        html[lang="it-IT"] { --si-label: "Accedi"; }
        html[lang="el-GR"] { --si-label: "Είσοδος"; }
        html[lang="eo-XX"] { --si-label: "Ensaluti"; }
        html[lang="pt-PT"] { --si-label: "Entrar"; }
        html[lang="pt-BR"] { --si-label: "Fazer login"; }
        html[lang="he-IL"] { --si-label: "כניסה"; }
        html[lang="ru-RU"] { --si-label: "Войти"; }
        html[lang="th-TH"] { --si-label: "ลงชื่อเข้าสู่ระบบ"; }
        html[lang="vi-VN"] { --si-label: "Đăng nhập"; }
        html[lang="tl-PH"] { --si-label: "Mag-sign in"; }
        html[lang="zh-TW"] { --si-label: "登入"; }
        html[lang="zh-CN"] { --si-label: "登录"; }
        .header--aside__item::before {
            content: var(--si-label) !important;
        }
    }
    if enableAnimations {
        #duckbar {
            transition: height .2s;
        }
        .header-wrap {
            transition: padding-top .1s;
        }
        .set-main .frm__select,
        .set-main .frm__color .frm__input {
            transition: background-color, border-bottom-color .2s;
        }
        #color_picker_container input,
        #color_picker_container .palette_input {
            transition: background-color, border-bottom-color .2s;
        }
        .set-main .frm__switch__label.btn::after {
            transition: left .2s;
        }
    }
    if hideDuckbar {
        .set-header--floating #duckbar {
            height: 0;
        }
        .set-header--floating .body--serp .header {
            min-height: 56px;
        }
        .set-header--floating .header-wrap {
            padding-top: 6px;
        }
        .set-header--floating .zcm-wrap {
            margin-top: 0 !important;
        }
        .set-header--floating .header--aside {
            margin: 4px auto auto 16px;
        }
        .set-header--floating .header--text_promo a {
            display: none;
        }
        @media only screen and (max-width: 590px) {
            .set-header--floating .body--serp .header {
                min-height: 54px;
            }
        }
    }
    if hideFeedbackPromo {
        .tag-home,
        .header--text_promo a,
        .js-badge-cookie-msg,
        .badge-link.ddg-extension-hide,
        .serp__bottom-right,
        .feedback-prompt,
        .nav-menu--feedback,
        .onboarding-ed,
        .atb-button--faq,
        .content-info,
        .faq {
            display: none;
        }
        .badge-link.badge-link--full {
            visibility: hidden !important;
        }
        .js-header-aside.is-hidden {
            display: block !important;
        }
    }
    if hideFavicons {
        .result__icon,
        .DpVR46dTZaePK29PDkz8 {
            display: none;
        }
    }
    if colorSelection {
        ::selection {
            background-color: var(--sl-h);
        }
    }
    /* Theme version */
    .nav-menu__list::after {
        content: var(--version);
        color: var(--fg-3);
    }
    /* Main background and foreground colors */
    html,
    body,
    .body--home,
    .site-wrapper,
    .zci-wrap,
    .zci--type--tiles {
        background-color: var(--bg-2) !important;
    }
    body,
    input,
    select,
    textarea {
        color: var(--fg-1);
    }
    /* Home */
    .tag-home {
        color: var(--fg-2);
    }
    .tag-home__link,
    .tag-home__link:hover {
        color: var(--ac-1);
    }
    .is-atb-fullbleed .badge-link.badge-link--full {
        margin: 30px auto 70px;
    }
    .is-atb-fullbleed .badge-link__title,
    .is-atb-fullbleed .badge-link__subtitle,
    .is-atb-fullbleed .badge-link__bullet,
    .is-atb-fullbleed .badge-link__rating,
    .is-atb-fullbleed .badge-link__rating__star--half::before,
    .is-atb-fullbleed .content-info__title,
    .is-atb-fullbleed .content-info__item,
    .faq__title,
    .faq__question,
    .faq__answer {
        color: var(--fg-2) !important;
    }
    .is-atb-fullbleed.dark-bg .badge-link__rating__star--empty {
        color: var(--bg-3);
    }
    .badge-link__bullet svg circle {
        fill: var(--ac-1);
    }
    .badge-link__bullet svg path {
        fill: var(--bg-2);
    }
    .is-atb-fullbleed .content-info__item__link,
    .faq__answer a {
        color: var(--ac-1) !important;
    }
    .faq__button svg circle {
        fill: var(--bg-3);
    }
    .faq__button svg path {
        fill: var(--fg-2);
    }
    /* Search header */
    .header-wrap {
        background-color: var(--bg-2) !important;
        border-bottom: 1px solid var(--br-1) !important;
        box-shadow: none;
        padding-top: 25px;
    }
    @media only screen and (min-width: 1350px) {
        .header__logo:not(.page-settings .header__logo),
        .header__praise,
        .header__avatar {
            margin-right: 48px;
        }
    }
    .header__label,
    .header__button--menu,
    .social .social__link__text {
        color: var(--fg-2) !important;
    }
    .no-touch .header__button--menu:hover,
    .no-touch .header__button--menu:focus {
        background-color: var(--bg-3) !important;
    }
    .header__clickable {
        color: var(--fg-3) !important;
    }
    .header__clickable:hover {
        color: var(--fg-2) !important;
    }
    .is-mobile .dropdown--settings--cog .dropdown__button::after {
        content: "" !important;
        background-image: var(--ic-general);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        filter: var(--ic-f);
    }
    .is-mobile .header-wrap > .dropdown--settings {
        top: 11px;
    }
    /* Search bar */
    .search--home,
    .search--header {
        background-color: var(--sr-b) !important;
    }
    .search--home.search--adv {
        padding-left: 1em;
    }
    .search--adv {
        border-radius: 99px;
        box-shadow: var(--sr-s);
        border: none;
    }
    .search--adv::after {
        content: "";
        background-image: var(--ic-search);
        background-repeat: no-repeat;
        background-color: transparent !important;
        width: 24px !important;
        height: 24px !important;
        position: absolute;
        right: 20px !important;
        top: 11px !important;
        filter: var(--ac-f);
    }
    .set-header--floating .search--adv {
        border: 1px solid var(--br-1);
        box-shadow: none;
    }
    .set-header--floating .search--adv:focus-within {
        border-width: 0;
    }
    @media only screen and (max-width: 590px) {
        .is-mobile .search__clear {
            padding-right: 12px;
        }
    }
    .search__input--adv {
        color: var(--fg-1) !important;
        padding-left: 8px;
    }
    .search__input--adv::placeholder {
        color: var(--fg-3);
    }
    .search--header,
    .search--header .search__input, .search--header .search__input--adv {
        height: 46px;
    }
    .search--focus::before {
        content: "";
        background-image: var(--ic-search);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 16px;
        top: 12px;
        position: absolute;
        display: inline-block;
        filter: var(--ic-f);
    }
    .search--home.search--focus .search__input--adv {
        padding-left: 28px;
    }
    @media only screen and (min-width: 591px) {
        .search--adv.search--focus {
            margin-left: -26px;
        }
        .search--focus .search__input--adv {
            padding-left: 34px;
        }
    }
    .search--adv.has-suggestions {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .search__clear {
        visibility: visible;
        opacity: 1;
    }
    .search__clear,
    .search--home.has-text .search__clear {
        color: var(--fg-2) !important;
        border-right: 1px solid var(--br-1);
        height: 1.8em;
    }
    .search__clear:focus,
    .search__clear:hover,
    .search__clear:active {
        color: var(--fg-1);
    }
    .search__button {
        background-color: transparent !important;
        color: transparent !important;
        margin-right: 5px;
    }
    /* Duck Bar */
    .zcm-wrap {
        margin-top: 20px;
    }
    .zcm__link:not(.dropdown__button) {
        padding-bottom: 12px !important;
    }
    .zcm__item {
        font-size: 14px;
    }
    .zcm__link,
    .zcm__link:focus,
    .zcm__link:hover {
        color: var(--fg-3) !important;
        line-height: 30px;
        border-width: 3px !important;
        font-weight: normal;
    }
    .zcm__link.is-active {
        color: var(--ac-1) !important;
        border-color: var(--ac-1) !important;
    }
    .zcm__link:active {
        background-color: transparent !important;
    }
    .sep--before::before,
    .sep--after::after {
        border-left-color: var(--br-1);
    }
    .zcm__sep--h {
        line-height: 24px;
    }
    .dropdown.dropdown--settings .zcm__link {
        padding-top: 0 !important;
    }
    #duckbar .dropdown__button:not(.dropdown__button--no-icon)::after {
        margin-top: -9px !important;
    }
    .zcm__link__icon {
        display: none !important;
    }
    @media only screen and (min-width: 591px) {
        .zcm__link.js-zci-link.js-zci-link--web::before,
        .zcm__link.js-zci-link.js-zci-link--images::before,
        .zcm__link.js-zci-link.js-zci-link--videos::before,
        .zcm__link.js-zci-link.js-zci-link--news::before,
        .zcm__link.js-zci-link.js-zci-link--maps_expanded::before,
        .zcm__link.js-zci-link.js-zci-link--maps_places::before {
            content: "";
            width: 16px;
            height: 16px;
            margin-right: 6px;
            filter: var(--ic-f);
        }
        .zcm__link.js-zci-link.is-active::before {
            filter: var(--ac-f);
        }
        .zcm__link.js-zci-link.js-zci-link--web::before {
            background-image: var(--ic-web);
        }
        .zcm__link.js-zci-link.js-zci-link--images::before {
            background-image: var(--ic-images);
        }
        .zcm__link.js-zci-link.js-zci-link--videos::before {
            background-image: var(--ic-videos);
        }
        .zcm__link.js-zci-link.js-zci-link--news::before {
            background-image: var(--ic-news);
        }
        .zcm__link.js-zci-link.js-zci-link--maps_expanded::before,
        .zcm__link.js-zci-link.js-zci-link--maps_places::before {
            background-image: var(--ic-maps);
        }
    }
    .zcm-wrap-wrap .zcm--right-fade::before {
        background-image: linear-gradient(90deg, transparent, var(--bg-2)) !important;
    }
    /* Search queries and bangs */
    .search__autocomplete {
        border: 0;
        background-color: var(--sr-b);
        box-shadow: 0 4px 4px rgba(0, 0 ,0 , .1);
        border-radius: 0 0 24px 24px;
        max-height: 294px !important;
        left: 1px;
    }
    .acp-wrap {
        background-color: var(--sr-b);
        max-height: 296px !important;
    }
    .acp-wrap::before {
        content: "";
        display: block;
        width: 95%;
        height: 1px;
        border-top: 1px solid var(--br-1);
        margin: 0 16px;
        position: absolute;
        top: 0;
    }
    @media only screen and (max-width: 590px) {
        .acp-wrap::before {
            width: 91%;
        }
    }
    .acp {
        color: var(--fg-2);
    }
    .acp:not(.acp--bang) {
        padding: 8px 44px !important;
    }
    .acp-wrap .acp:not(.acp--bang):not(.map-searchbar .acp)::before {
        content: "";
        background-image: var(--ic-search);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 16px;
        position: absolute;
        display: inline-block;
        filter: var(--ic-f);
    }
    .acp__detail {
        color: var(--fg-3);
    }
    .acp--highlight {
        background-color: var(--br-1);
    }
    .acp--bang .acp--bang__phrase,
    .acp--highlight.acp--bang .acp--bang__phrase,
    .acp--highlight.acp--bang .acp--bang__snippet,
    a.no-visited {
        color: var(--fg-2);
    }
    .acp-wrap__column.acp-wrap__column--left {
        border-right-color: var(--br-1);
    }
    .search--adv .acp__search-fill {
        color: var(--fg-3) !important;
    }
    .acp-footer {
        background-color: var(--sr-b);
        box-shadow: none;
        margin-left: 0;
        border: 0;
        border-top: 1px solid var(--br-1);
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    .acp-footer .acp-footer__instructions {
        color: var(--fg-3);
    }
    /* Search options */
    .search-filters-wrap::before,
    .metabar__dropdowns-wrap::before {
        background-image: linear-gradient(90deg, var(--bg-2), transparent) !important;
    }
    .search-filters-wrap::after,
    .metabar__dropdowns-wrap::after {
        background-image: linear-gradient(90deg, transparent, var(--bg-2)) !important;
    }
    .search-filters .dropdown a {
        font-size: 14px;
    }
    .dropdown__button,
    .dropdown__button::after {
        color: var(--fg-3) !important;
    }
    .switch {
        background-color: var(--br-1);
    }
    .modal--dropdown.modal--dropdown--license .modal__footer {
        border-top-color: var(--br-1);
    }
    .modal--dropdown.modal--dropdown--license .modal__footer .modal__list__link {
        color: var(--fg-2) !important;
    }
    /* Page result */
    [data-testid="result"] {
        border-radius: 0 !important;
        border: 0;
    }
    .is-mobile .results_links_deep {
        background-color: var(--bg-2) !important;
        border-color: var(--br-1) !important;
        box-shadow: none !important;
    }
    .is-link-style-exp #links .result.is-keyboard-focus:focus-within {
        background-color: var(--bg-3) !important;
    }
    /* Page result header */
    .result__a {
        color: var(--ac-1) !important;
    }
    .result.highlight .result__title .result__a {
        text-decoration-thickness: 1px !important;
    }
    /* Page result domain */
    .is-link-style-exp .result__url,
    .is-link-style-exp .result__url:visited,
    .is-link-style-exp .result__url__full {
        color: var(--fg-3) !important;
    }
    .is-link-style-exp .result__url:hover,
    .is-link-style-exp .result__url__full:hover,
    .is-link-style-exp .result__url:active,
    .is-link-style-exp .result__url__full:active {
        color: var(--fg-2) !important;
    }
    /* Page result description */
    .result__snippet {
        color: var(--fg-3) !important;
    }
    .result__snippet b,
    .result__snippet strong {
        color: var(--fg-2) !important;
    }
    /* Page result navigation links */
    .result__sitelinks .sitelink--small__title,
    .result__sitelinks .sitelink--small__title:active,
    .result__sitelinks .sitelink--small__title:hover {
        color: var(--ac-1) !important;
    }
    .is-mobile .result__sitelinks .sitelink--small__title {
        background-color: var(--bt-h);
        border: 0 !important;
        border-radius: 99px;
    }
    .is-mobile .result__sitelinks .sitelink--small__title:active {
        background-color: var(--bt-h);
    }
    .is-mobile .result__sitelinks--small::after {
        background-image: linear-gradient(90deg, transparent, var(--bg-2));
    }
    .sitelink--small__separator {
        color: var(--fg-2) !important;
    }
    /* Page result type */
    .result__type {
        background-color: var(--bg-2);
        color: var(--fg-3);
        border: 1px solid var(--br-1);
        border-radius: 4px;
    }
    /* Page result ad */
    .is-link-style-exp .result--ad .result__url,
    .is-link-style-exp #ads .report-ad__link {
        color: var(--fg-3) !important;
    }
    .report-ad__start {
        border-left-color: var(--br-1);
    }
    .badge--ad {
        border-color: var(--fg-3);
        color: var(--fg-3) !important;
    }
    /* Related results */
    .related-searches__title-long,
    .related-searches__title-short {
        color: var(--fg-2) !important;
    }
    .related-searches__item {
        background-color: var(--bg-3) !important;
        border-radius: 99px !important;
        margin-bottom: 8px !important;
        border: 0 !important;
    }
    .related-searches__item-text {
        width: 100%;
        color: var(--fg-2);
    }
    .related-searches__item-text::before {
        background-image: var(--ic-search) !important;
        width: 20px !important;
        height: 20px !important;
        margin-left: 16px !important;
        margin-right: 16px !important;
        filter: var(--ic-f);
    }
    .related-searches__item-text span {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 16px;
    }
    /* No more results */
    .no-results {
        color: var(--fg-2);
    }
    /* Did you mean */
    .msg {
        color: var(--fg-2);
    }
    .msg--spelling a,
    .msg--spelling :link,
    .msg--spelling a:hover {
        color: var(--ac-1) !important;
    }
    /* Showing results from */
    .msg__site {
        color: var(--fg-2);
    }
    .msg__all,
    .msg__all:visited {
        color: var(--ac-1) !important;
    }
    /* More X buttons */
    .module__footer,
    .module__toggle.tx--bold.show--mob {
        background-color: transparent !important;
        border-color: var(--br-1) !important;
        border-radius: 99px !important;
        color: var(--ac-1) !important;
    }
    .module__footer:hover,
    .module__toggle.tx--bold.show--mob:hover {
        background-color: var(--bg-3) !important;
    }
    .result--more__btn.btn {
        background-color: transparent !important;
        border-radius: 99px !important;
        border: 1px solid var(--br-1) !important;
    }
    .result--more__btn.btn:hover {
        background-color: var(--bg-3) !important;
    }
    .result--more__btn {
        background-color: transparent !important;
        color: var(--ac-1) !important;
    }
    /* Section for X */
    .module__header.module__header--link {
        color: var(--fg-2) !important;
    }
    /* Page separator and numbering */
    .result__pagenum {
        color: var(--fg-3);
    }
    .result--sep--hr::before {
        background-color: var(--br-1);
    }
    /* Modal */
    .module:not(.module--carousel):not(.module--placeholder):not(.module--images):not(.module--translations):not(.module__chromeless):not(.module--forecast) {
        padding: 4px;
        box-sizing: border-box;
        border-radius: 16px;
    }
    .module__toggle {
        border-radius: 6px 6px 12px 12px;
    }
    .modal__box {
        border: 0 !important;
        box-shadow: var(--md-s) !important;
    }
    .modal__box,
    .frm__input {
        background-color: var(--bg-2) !important;
        color: var(--fg-2) !important;
    }
    .modal__header {
        background-color: var(--bg-2);
    }
    .modal__header__title,
    .modal--dropdown--settings .settings-dropdown--section .settings-dropdown--header .settings-dropdown--header--label {
        color: var(--fg-2) !important;
    }
    .modal__header {
        border-bottom-color: var(--br-1);
    }
    .modal__header::before {
        color: var(--fg-3) !important;
    }
    .modal__header__clear {
        color: var(--ac-1) !important;
    }
    .modal__list__divider {
        background-color: var(--br-1) !important;
    }
    .modal__list__link,
    .modal__list__link:active,
    .modal__list__link:hover,
    .modal__list__link.is-highlighted {
        color: var(--fg-2);
    }
    .modal__list__link:active,
    .modal__list__link:hover,
    .modal__list__link.is-highlighted {
        background-color: var(--bg-3) !important;
        border-radius: 4px;
    }
    .modal__list__link.is-selected {
        color: var(--fg-1) !important;
    }
    .frm__select select {
        color: var(--fg-1) !important;
    }
    .frm__select::after {
        content: "";
        background-image: var(--ic-arrow) !important;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        right: 8px;
        filter: var(--ic-f);
    }
    .frm__label,
    .frm__select {
        color: var(--fg-3);
    }
    .frm__input {
        border-color: var(--br-1);
    }
    .frm__select__input {
        background-color: var(--bg-2) !important;
    }
    .frm__field .frm__select::before {
        background-image: linear-gradient(to right, transparent 0%, var(--bg-2) 65%) !important;
        right: 16px !important;
    }
    .frm__switch__label.btn {
        background-color: var(--br-1) !important;
    }
    .settings-dropdown--section {
        border-bottom-color: var(--br-1) !important;
    }
    .settings-dropdown--button {
        color: var(--fg-3) !important;
    }
    .settings-dropdown--header--link {
        color: var(--ac-1) !important;
    }
    .modal--dropdown.modal--popout.modal--dropdown--settings {
        width: 340px;
        top: 0 !important;
        left: auto !important;
        right: -13px;
    }
    .modal--popout.modal--dropdown--settings .modal__box {
        width: 340px;
        height: 100vh;
        transform: scale(1) translateX(340px);
        transition: opacity 0s, transform .25s;
    }
    .modal--dropdown--settings .modal__body {
        padding: 16px !important;
    }
    .modal--dropdown--settings .frm__field,
    .modal--dropdown--settings .settings-dropdown--button {
        margin: 10px 0;
    }
    .modal--popout.is-showing .modal__box {
        transform: translateX(0);
    }
    .modal--popout .modal__box::before,
    .modal--popout .modal__box::after {
        color: transparent !important;
    }
    .modal__close,
    .modal__close:hover {
        color: var(--fg-3);
    }
    /* Buttons */
    .btn--primary:not(.is-disabled) {
        background-color: transparent !important;
        border-color: var(--br-1) !important;
    }
    .btn--primary:hover:not(.is-disabled) {
        background-color: var(--bt-h) !important;
    }
    .btn--primary {
        color: var(--ac-1) !important;
    }
    /* Switches */
    .switch {
        height: 12px;
    }
    .switch__knob {
        background-color: #fff !important;
        box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    }
    .dropdown__switch {
        margin-top: 12px;
    }
    .dropdown__switch.is-on::before {
        content: "";
    }
    .dropdown__switch.is-on .switch__knob {
        background-color: var(--ac-1) !important;
        left: 16px;
    }
    .switch.is-on {
        background-color: var(--sw-b) !important;
    }
    .modal--dropdown--settings .settings-dropdown--section .frm__field .frm__switch .frm__switch__label.btn {
        height: 8px;
    }
    .modal--dropdown--settings .settings-dropdown--section .frm__field:not(.is-checked) .frm__switch .frm__switch__label.btn::after {
        background-color: #fff !important;
    }
    .is-checked .frm__switch__label.btn {
        background-color: var(--sw-b) !important;
    }
    .switch__knob,
    .modal--dropdown--settings .settings-dropdown--section .frm__field .frm__switch .frm__switch__label.btn::after {
        width: 16px;
        height: 16px;
        border-radius: 99px;
        left: 0px;
        top: -2px;
        box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    }
    .is-checked .frm__switch__label.btn::after {
        background-color: var(--ac-1) !important;
    }
    /* Date picker */
    .modal--dropdown.modal--dropdown--date .modal__footer {
        border-top-color: var(--br-1);
    }
    .modal--dropdown.modal--dropdown--date .modal__footer .modal__list__link {
        color: var(--fg-2) !important;
    }
    .pika-label,
    .pika-single,
    .pika-day,
    .pika-single .pika-prev,
    .pika-single .pika-next {
        color: var(--fg-2) !important;
    }
    .pika-single td:hover .pika-day {
        background-color: var(--bg-3) !important;
    }
    .pika-single .pika-table tbody td.is-selected .pika-day,
    .pika-single .pika-table tbody td.is-startrange .pika-day,
    .pika-single .pika-table tbody td.is-endrange .pika-day {
        background-color: var(--ac-1) !important;
        border-color: var(--ac-1) !important;
        color: var(--bg-2) !important;
    }
    .pika-single .pika-table tbody .is-startrange .pika-day::after,
    .pika-single .pika-table tbody .is-endrange .pika-day::after {
        color: var(--ac-1) !important;
    }
    .pika-table th {
        color: var(--fg-3);
    }
    .pika-table tbody {
        border-top-color: var(--br-1) !important;
    }
    .pika-lendar {
        border-bottom-color: var(--br-1) !important;
    }
    .custom_date__fields .custom_date__input {
        border-color: var(--br-1) !important;
    }
    .custom_date__fields .custom_date__input:focus {
        border-color: var(--ac-1) !important;
    }
    /* Overlay */
    .modal--popover--gray.is-showing {
        background-color: rgba(0, 0, 0, .25);
    }
    /* Tiles */
    .zci.is-active {
        background-color: var(--bg-2);
        border-bottom-color: var(--br-1);
    }
    .tileview .metabar--fixed,
    .tileview--grid .metabar--fixed,
    .zci--type--tiles:not(.is-fallback).is-full-page.is-expanded .metabar:not(.is-stuck) {
        background-color: var(--bg-2);
    }
    .tileview--grid .metabar--fixed.is-stuck {
        background-color: var(--bg-2);
        border-top-color: var(--br-1);
    }
    .tile,
    .tile .tile__body {
        background-color: var(--bg-2) !important;
        border-color: var(--br-1) !important;
        box-shadow: none !important;
    }
    .tile,
    .tile__title,
    .tile__title a,
    .tile__title a:hover,
    .tile__title__sub,
    .tile .tile__title,
    .tile__sub,
    .tile--img__sub,
    .tile--img__sub:hover,
    .tile--b--i .tile__source,
    .tile__foot,
    .info__label,
    .info__value,
    .tx-clr--slate-light,
    .tx-clr--slate {
        color: var(--fg-2);
    }
    .tile__count,
    .tile__content,
    .tile__sub--2,
    .star {
        color: var(--fg-3);
    }
    .tile--img__icon {
        background-color: rgba(255, 255, 255, .3);
        border: 0;
    }
    .tile--info .info {
        border-color: var(--bg-3);
    }
    .attribution--link__icon {
        color: var(--fg-2);
    }
    .attribution--link__icon:hover,
    .attribution--link__icon:focus {
        color: var(--fg-1);
    }
    .attribution__hr {
        border-bottom-color: var(--br-1);
    }
    .one-line a,
    .tile__foot.tile__foot--2 a {
        color: var(--ac-1);
    }
    .one-line img {
        filter: var(--ic-f);
    }
    .tile__expand {
        background-color: var(--bg-2);
        color: var(--ac-1) !important;
        border-top: 1px solid var(--br-1);
        box-shadow: none !important;
    }
    .tile__expand:hover,
    .tile__expand:active {
        background-color: var(--bg-3);
        border-top-color: var(--br-1);
    }
    /* Image/Video tile */
    .detail {
        background-color: var(--bg-2);
        box-shadow: var(--md-s);
        border: 0;
    }
    @media only screen and (min-width: 591px) {
        .detail {
            border-radius: 16px;
            margin: 0 20px;
            width: calc(100% - 40px);
        }
    }
    .detail--xd .c-detail__title,
    .detail__body a:hover {
        color: var(--fg-2);
    }
    .c-detail__desc,
    .c-detail__filemeta {
        color: var(--fg-3);
    }
    .c-detail__more,
    .c-detail__more :link:hover {
        color: var(--ac-1);
    }
    .detail--xd .c-detail__btn {
        background-color: var(--bt-h);
        border: 0;
        border-radius: 9999px;
        color: var(--ac-1) !important;
    }
    .detail--xd .c-detail__btn:hover {
        background-color: var(--bg-3);
    }
    .tile-nav--sm {
        background-color: var(--bg-2) !important;
        color: var(--fg-2)  !important;
    }
    .tile-nav--sm.can-scroll:active,
    .no-touch .tile-nav--sm.can-scroll:hover {
        background-color: var(--bg-3)  !important;
        color: var(--fg-1)  !important;
    }
    .detail__close {
        color: var(--fg-2) !important;
    }
    .detail__close:hover,
    .detail__close:active {
        color: var(--fg-1) !important;
    }
    .overlay,
    .overlay__text,
    .overlay--video-privacy__remember a {
        color: var(--fg-2) !important;
    }
    .c-detail__icon,
    .detail--xd .c-detail__user,
    .detail--xd .c-detail__count,
    .detail--xd .c-detail__date,
    .overlay--video-privacy__remember {
        color: var(--fg-3);
    }
    .overlay__btn {
        background-color: var(--bg-2);
        border-color: var(--br-1) !important;
        color: var(--ac-1) !important;
    }
    .overlay__btn:hover {
        background-color: var(--bg-3);
    }
    /* Carousel */
    .zcm__link--sub {
        color: var(--fg-3);
    }
    .zcm__link--sub:hover,
    .zcm__link--sub.is-highlighted,
    .zcm__link--sub.is-selected {
        color: var(--fg-2);
    }
    .tile-nav.can-scroll {
        background-color: var(--bg-2);
        border: 1px solid var(--br-1);
        color: var(--fg-2);
    }
    .tile-nav.can-scroll:hover {
        background-color: var(--br-1);
    }
    .tile-nav.can-scroll::after, .tile-nav.can-scroll:hover::after {
        background-color: var(--bg-3);
        color: var(--fg-2);
    }
    .metabar__mode {
        background-color: var(--bg-3);
        color: var(--fg-2) !important;
    }
    .metabar__mode:not(.is-disabled):hover {
        background-color: var(--bg-3);
        color: var(--fg-1) !important;
    }
    .metabar__mode.is-disabled {
        color: var(--fg-3) !important;
    }
    .metabar__primary-text--linked,
    .metabar .zci__more-at {
        color: var(--fg-2);
    }
    .metabar__grid-btn,
    .metabar__grid-btn:hover {
        border: 0;
    }
    .module--carousel__item {
        background-color: var(--bg-2) !important;
        border-color: var(--br-1) !important;
        box-shadow: none !important;
    }
    .module--carousel__body__title {
        color: var(--ac-1) !important;
    }
    .sep {
        border-left-color: var(--br-1);
    }
    .module--carousel__left,
    .module--carousel__right {
        background-color: var(--bg-3);
        color: var(--fg-2) !important;
        border-color: var(--br-1) !important;
        box-shadow: none !important;
    }
    .module--carousel__left:hover,
    .module--carousel__right:hover {
        background-color: var(--br-1);
    }
    .module--carousel__footer {
        color: var(--fg-3);
    }
    /* Modules */
    .module:not(.module--carousel):not(.module--placeholder):not(.module--images):not(.module--translations),
    .module:not(.module--carousel):not(.module--placeholder):not(.module--images):not(.module--translations):not(.module__chromeless) {
        background-color: var(--bg-2);
        border-color: var(--br-1);
        box-shadow: none;
    }
    .module:not(.module--carousel):not(.module--placeholder):not(.module--images):not(.module--translations):not(.module__chromeless) {
        color: var(--fg-3);
    }
    .module__toggle {
        background-color: transparent;
        color: var(--ac-1);
        border-color: transparent;
    }
    .module__toggle:hover {
        background-color: var(--bg-3) !important;
        color: var(--ac-1) !important;
    }
    .module__toggle--more::after {
        background: linear-gradient(transparent, var(--bg-2));
    }
    .module__toggle__chevron--alt {
        background-color: var(--bg-2) !important;
        color: var(--ac-1) !important;
        border-color: var(--br-1) !important;
    }
    .module__inner-toggle .module__inner-toggle--chevron {
        background-color: var(--bg-3);
        border-color: var(--br-1);
        color: var(--ac-1);
    }
    .module__inner-toggle .module__inner-toggle--chevron:hover {
        background-color: var(--br-1);
        border-color: var(--br-1);
    }
    .module__toggle__text {
        color: var(--fg-3);
    }
    .module__clickable-header {
        border-bottom-color: var(--br-1);
    }
    .module__title__link,
    .module__title__link:hover {
        color: var(--fg-2);
    }
    .module__title__sub,
    .module .module--carousel__item,
    .module--carousel__main-source a,
    .module__text {
        color: var(--fg-3);
    }
    .module__link,
    .module__official-url,
    .module__more-at,
    .module__more-at-bottom,
    .dark-bg.is-link-style-exp .module__link {
        color: var(--ac-1) !important;
    }
    .about-info-box__info-row {
        border-color: transparent;
        line-height: 1.15;
    }
    .about-profiles__link,
    .about-profiles__link:hover,
    .about-profiles__link:visited,
    .about-profiles__link:active,
    .about-info-box__info-label {
        color: var(--fg-2) !important;
    }
    .about-info-box__info-value {
        color: var(--fg-3);
    }
    .module__header__icon {
        display: none;
    }
    .module--carousel__image-wrapper {
        background-color: var(--bg-2);
    }
    .module--carousel__placeholder,
    .result__image__plc {
        background-color: var(--bg-3);
        color: var(--fg-3);
    }
    /* Section: News */
    .is-link-style-exp:not(.is-mobile) .result.result--news {
        margin-bottom: 16px;
    }
    .result.result--news .result__body {
        border: 1px solid var(--br-1);
        border-radius: 8px;
        padding: 16px;
    }
    .is-mobile .result--news {
        background-color: var(--bg-2) !important;
        border: 0 !important;
        box-shadow: none !important;
    }
    .result__extras__url {
        color: var(--fg-3);
    }
    /* Section: Definition */
    .play-btn__icn,
    .play-btn__icn.is-playing,
    .play-btn__icn.is-playing:hover {
        background-image: var(--ic-volume);
        width: 16px;
        height: 16px;
        filter: var(--ac-f);
    }
    .play-btn__icn.is-playing,
    .play-btn__icn.is-playing:hover {
        opacity: .5;
    }
    .ia-module--definitions .module__title {
        color: var(--fg-1);
    }
    .ia-module--definitions .module--definitions__pronunciation,
    .ia-module--definitions .module--definitions__definition,
    .ia-module--definitions .module--definitions__part-of-speech,
    .ia-module--definitions .module--definitions__collapsed-group h3 {
        color: var(--fg-2);
    }
    .ia-module--definitions .module--definitions__group ol li::before,
    .ia-module--definitions .module--definitions__collapsed-group ol li::before,
    .ia-module--definitions .module--definitions__attribution .module--definitions__attribution-text {
        color: var(--fg-3);
    }
    .ia-module--definitions .module--definitions__group ol li .module--definitions__reference,
    .ia-module--definitions .module--definitions__collapsed-group ol li .module--definitions__reference {
        color: var(--ac-1);
    }
    /* Section: Maps */
    .vertical--map__sidebar__header,
    .vertical--map__sidebar__wrapper {
        background-color: var(--bg-2);
    }
    .no-results__link {
        color: var(--ac-1) !important;
    }
    .feedback-prompt__link,
    .feedback-prompt__link:hover,
    .feedback-prompt__link:active {
        color: var(--fg-2);
    }
    .vertical--map__search-this-area {
        background-color: var(--bg-2) !important;
        color: var(--ac-1) !important;
    }
    .address-detail {
        background-color: var(--bg-3);
    }
    .address-detail__name {
        color: var(--fg-2);
    }
    .address-detail__address {
        color: var(--fg-3);
    }
    .vertical--map__search-examples {
        border-top-color: var(--br-1);
    }
    .vertical--map__search-examples__button,
    .vertical--map__search-web .module__link {
        color: var(--ac-1) !important;
    }
    .vertical--map__sidebar__results__inner {
        background-color: var(--bg-2) !important;
        border: 0;
    }
    .module__section {
        border-color: var(--br-1);
    }
    .module__section.place-list-item:hover {
        background-color: var(--bg-3);
    }
    .module__section:first-child.place-detail__section--tab {
        border-top-color: var(--br-1);
    }
    .place-detail {
        background-color: var(--bg-2);
        box-shadow: none;
    }
    .place-list-item__title,
    .place-detail,
    .place-detail__cta-text {
        color: var(--fg-2);
    }
    .place-list-item__rating,
    .place-list-item__info__item,
    .place-detail__review-count__link,
    .place-detail__subtitle,
    .review__rating-date {
        color: var(--fg-3);
    }
    .place-detail__status {
        color: var(--fg-1) !important;
    }
    .place-detail__cta-item .place-detail__cta-icon {
        background-color: var(--bg-2);
        border-color: var(--br-1) !important;
    }
    .place-detail__cta-item:hover .place-detail__cta-icon {
        background-color: var(--bg-3);
    }
    .place-hours {
        border-top-color: var(--br-1);
        border-bottom-color: var(--br-1);
    }
    .user-loc-tooltip {
        background-color: var(--bg-2);
        border-color: var(--br-1);
    }
    .user-loc-tooltip,
    .tooltip,
    .user-loc-tooltip__dismiss,
    .user-loc-tooltip__dismiss:hover {
        color: var(--fg-1);
    }
    .user-loc-tooltip__subtitle,
    .dir-btn .btn.dir-btn__link,
    .dir-btn .btn.dir-btn__link:hover {
        color: var(--fg-2);
    }
    .user-loc-link {
        color: var(--ac-1) !important;
    }
    .user-loc-btn__btn.btn {
        background-color: var(--bg-2);
        border-color: var(--br-1);
        color: var(--fg-2);
    }
    .user-loc-btn__btn.btn:hover,
    .user-loc-btn__btn.btn:focus {
        background-color: var(--bt-h);
        color: var(--fg-2);
    }
    .user-loc-tooltip--below .user-loc-tooltip__triangle-inner {
        border-bottom-color: var(--bg-2);
    }
    .user-loc-tooltip--below .user-loc-tooltip__triangle-outer {
        border-bottom-color: var(--br-1);
    }
    .module--places .module__section.module__places-more {
        border-top-color: var(--br-1);
    }
    .dir-btn .btn {
        background-color: var(--bg-2);
        border-color: var(--br-1);
    }
    .dir-btn .btn:hover {
        background-color: var(--bt-h);
    }
    /* Section: Calculator */
    .zci--calculator .tile__calc,
    .zci--calculator .tile__calc .tile__history {
        height: 321px;
    }
    .zci--calculator .tile__calc__col {
        height: 220px;
    }
    .zci--calculator .tile__calc .tile__ctrl__btn,
    .zci--calculator .tile__calc .tile__ctrl__toggle {
        height: 44px;
    }
    .zci--calculator .tile__calc .tile__display,
    .zci--calculator .tile__calc .tile__ctrl__toggle,
    .zci--calculator .tile__calc .tile__ctrl__btn,
    .zci--calculator .tile__calc .tile__history {
        border: 4px solid var(--bg-2) !important;
        border-radius: 10px;
    }
    .zci--calculator .tile__calc__col {
        border-bottom: none;
    }
    .zci--calculator .tile__calc .tile__display {
        background-color: var(--bg-2) !important;
        box-shadow: inset -1px -1px 0px var(--br-1), inset 1px 1px 0px var(--br-1) !important;
    }
    .zci--calculator .tile__calc .tile__display:hover {
        background-color: var(--bg-3) !important;
        box-shadow: inset -1px -1px 0px var(--br-1), inset 1px 1px 0px var(--br-1) !important;
    }
    .zci--calculator .tile__calc .tile__display__main {
        background-color: transparent !important;
        color: var(--fg-2) !important;
    }
    .zci--calculator .tile__calc .tile__display__aside,
    .zci--calculator .tile__calc .tile__past-formula {
        color: var(--fg-3);
    }
    .zci--calculator .tile__calc .tile__ctrl__toggle {
        padding: 10px 0;
        background-color: var(--calc-sci-b) !important;
        color: var(--fg-1) !important;
    }
    .zci--calculator .tile__ctrl__toggle-slider {
        background-color: var(--bg-3) !important;
    }
    .zci--calculator .tile__ctrl__toggle-indicator {
        width: 32px;
        margin: 0 4px;
    }
    .zci--calculator .tile__ctrl__toggle-slider.tile__ctrl__round-icon {
        padding: 6px 0;
    }
    .zci--calculator .tile__calc .tile__tab__sci .tile__ctrl__btn {
        background-color: var(--calc-sci-b) !important;
    }
    .zci--calculator .tile__ctrl__toggle-slider::before {
        width: 16px;
        height: 16px;
        bottom: -2px;
        left: 0;
    }
    input:checked + .tile__ctrl__toggle-slider {
        background-color: var(--sw-b) !important;
    }
    input:checked + .tile__ctrl__toggle-slider::before {
        background-color: var(--ac-1);
        transform: translateX(16px);
    }
    .zci--calculator .tile__calc .tile__ctrl__btn {
        background-color: var(--calc-ari-b) !important;
        color: var(--fg-1) !important;
        font-size: 1.1em;
    }
    .zci--calculator .tile__calc .tile__option {
        color: var(--fg-3);
    }
    .zci--calculator .tile__calc .tile__option--active {
        color: var(--ac-1);
    }
    .no-touch .tile__calc .tile__ctrl__btn:hover,
    .no-touch .tile__calc .tile__ctrl__toggle:hover {
        background-color: var(--calc-til-h) !important;
    }
    .zci--calculator .tile__calc .tile__ctrl__btn[value="="] {
        background-color: var(--ac-1) !important;
        color: var(--bg-2) !important;
        font-weight: bold;
    }
    .zci--calculator .tile__calc .tile__history {
        background-color: var(--bg-3) !important;
    }
    .zci--calculator .tile__calc .tile__past-calc {
        background-color: var(--calc-ari-b) !important;
        border: 0 !important;
        border-radius: 4px;
        margin: 6px;
    }
    .zci--calculator .tile__calc .tile__past-calc:hover {
        background-color: var(--calc-til-h) !important;
    }
    .zci--calculator .tile__calc .tile__past-result {
        color: var(--fg-2) !important;
    }
    @media only screen and (max-width: 590px) {
        .zci--calculator .tile__calc .tile__calc__col {
            border-right-color: var(--br-1);
        }
    }
    /* Section: Stopwatch */
    .zci--stopwatch .goodie-pane {
        background-color: transparent;
        border: 1px solid var(--br-1);
        border-radius: 6px;
    }
    .zci--stopwatch .label {
        background-color: transparent;
        color: var(--fg-3);
    }
    .zci--stopwatch .btn-wrapper {
        padding: 0;
    }
    .zci--stopwatch .stopwatch__btn.start,
    .zci--stopwatch .stopwatch__btn.stop {
        background-color: var(--ac-1) !important;
        border-color: var(--ac-1) !important;
        color: var(--bg-2) !important;
    }
    .zci--stopwatch .stopwatch__btn {
        height: 32px;
        line-height: 0;
        border-color: var(--br-1) !important;
        border-radius: 6px;
        color: var(--ac-1) !important;
        text-transform: lowercase;
    }
    .zci--stopwatch .stopwatch__btn::first-letter {
        text-transform: uppercase;
    }
    .zci--stopwatch .stopwatch__btn:hover,
    .zci--stopwatch .stopwatch__btn:hover {
        background-color: var(--bt-h);
    }
    .zci--stopwatch .stopwatch__btn[disabled] {
        color: var(--fg-3) !important;
    }
    .zci--stopwatch td {
        padding: 6px !important;
    }
    .zci--stopwatch .zci__body {
        color: var(--fg-2) !important;
    }
    /* Section: Timer */
    .zci--timer .timer_container.status_paused .play_pause .progress {
        border-color: var(--bg-3) !important;
    }
    .zci--timer .play_pause .rotated_fill,
    .zci--timer .play_pause .first_half_fill {
        border-color: var(--ac-1) !important;
    }
    .zci--timer .timer_container.status_paused .rotated_fill,
    .zci--timer .timer_container.status_paused .first_half_fill {
        border-color: var(--br-1) !important;
    }
    .zci--timer .timer_container.status_stopped .play_pause a {
        color: var(--ac-1);
    }
    .zci--timer .name_input {
        outline: none;
        color: var(--fg-3);
    }
    .zci--timer .time_input input {
        border: 0;
        border-radius: 0;
        outline: none;
        border-bottom: 2px solid var(--br-1);
        color: var(--fg-2);
        background-color: var(--bg-2);
    }
    .zci--timer .time_input input:hover,
    .zci--timer .time_input input:focus {
        border-bottom-color: var(--ac-1);
    }
    .zci--timer .tx-clr--slate,
    .zci--timer .time_display .seconds,
    .zci--timer .corner_btn.add_minute {
        color: var(--fg-2);
    }
    .zci--timer .corner_btn {
        color: var(--ac-1);
    }
    .zci--timer .bg-clr--silver {
        background-color: var(--bg-3);
    }
    .zci--timer #add_timer_container {
        border: 1px solid var(--br-1);
    }
    .zci--timer #add_timer_container:hover {
        background-color: var(--bg-3) !important;
    }
    .zci--timer a#add_timer_btn:hover {
        color: var(--fg-2);
    }
    /* Section: Calendar */
    .zci--calendar_today .calendar .t_left,
    .zci--calendar_today .calendar .t_right {
        background-color: var(--bg-3);
    }
    .zci--calendar_today .calendar a {
        color: var(--fg-2);
    }
    .zci--calendar_today .calendar__today {
        color: var(--bg-2);
        background-color: var(--ac-1);
    }
    /* Section: 2048 */
    .zci--game2048 .game2048__area {
        background-color: var(--bg-2);
        border-color: var(--br-1);
        border-radius: 8px;
    }
    .zci--game2048 .game2048__message {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 8px;
    }
    .zci--game2048 .game2048__area:focus {
        box-shadow: var(--md-s);
    }
    .zci--game2048 .cell {
        background-color: var(--bg-3);
    }
    .zci--game2048 .game2048__points {
        color: var(--fg-2);
    }
    .zci--game2048 .game2048__help {
        color: var(--fg-3);
    }
    .zci--game2048 .game2048__new_game {
        background-color: var(--ac-1) !important;
        color: var(--bg-2);
    }
    /* Section: Color Picker */
    #zci-color_picker .zci__body {
        color: var(--fg-3);
    }
    #color_picker_container input,
    #color_picker_container .palette_input {
        background-color: transparent;
        color: var(--fg-2);
        border:0;
        border-radius: 4px 4px 0 0;
        border-bottom: 2px solid var(--br-1);
        outline: none;
    }
    #color_picker_container input:hover,
    #color_picker_container .palette_input:hover {
        background-color: var(--bg-3);
        border-bottom-color: var(--ac-1);
    }
    /* Section: Translate */
    .translations-wrapper .module {
        border-color: var(--br-1);
    }
    .dropdown--translation-select {
        background-color: var(--bg-2) !important;
        border: 1px solid var(--br-1) !important;
    }
    .dropdown--translation-select:hover {
        background-color: var(--bg-3) !important;
    }
    .module--translations .module--translations-original textarea,
    .module--translations .module--translations-translatedtext {
        background-color: var(--bg-2);
        border: 1px solid var(--br-1);
        color: var(--fg-2) !important;
    }
    .module--translations .module--translations-original textarea::placeholder {
        color: var(--fg-3);
    }
    .modal__list__filter {
        border-bottom-color: var(--br-1);
    }
    .modal__list__filter input {
        background-color: var(--bg-2);
        color: var(--fg-2);
    }
    .modal__list__filter::before {
        color: var(--fg-3);
    }
    .module--translations .module--translations-clear {
        right: 22px;
        top: 68px;
        color: var(--fg-2);
    }
    .module--translations .module--translations-swap,
    .module--translations .module--translations-copy,
    .module--translations-footer a {
        color: var(--fg-3);
    }
    .module--translations .module--translations-clear:hover,
    .module--translations .module--translations-swap:hover,
    .module--translations .module--translations-copy:hover,
    .module--translations .module--translations-clear:active,
    .module--translations .module--translations-swap:active,
    .module--translations .module--translations-copy:active,
    .module--translations-footer a:hover {
        color: var(--fg-2);
    }
    /* Section: Weather */
    .forecast-wrapper .module--forecast .module__current,
    .forecast-wrapper .module--forecast .module__detail--hours__labels.hours__labels--day-0 .label-0 .module__detail__hour-label,
    .forecast-wrapper .module--forecast .module__detail__temp-label,
    .forecast-wrapper .module--forecast .module__items-item--selected .module__items-day,
    .forecast-wrapper .module--forecast .module__items-item--selected .module__items-unit,
    .forecast-wrapper .module--forecast .module__items-item--selected .module__items-unit--low {
        color: var(--fg-1);
    }
    .forecast-wrapper .text--primary,
    .forecast-wrapper .module--forecast .module__temperature-unit,
    .forecast-wrapper .module--forecast .module__temperature-unit:hover,
    .forecast-wrapper .module--forecast .module__items-day,
    .forecast-wrapper .module--forecast .module__items-unit--on,
    .forecast-wrapper .module__more-at .zci__more-at:hover,
    .forecast-wrapper .module__more-at-and-feedback .module__more-at a {
        color: var(--fg-2);
    }
    .forecast-wrapper .module--forecast .module__detail__hour-label,
    .forecast-wrapper .module--forecast .module__temperature-unit:not(.module__temperature-unit--on),
    .forecast-wrapper .module--forecast .module__temperature-unit:not(.module__temperature-unit--on):hover,
    .forecast-wrapper .module--forecast .module__items-unit.module__items-unit--low {
        color: var(--fg-3);
    }
    .forecast-wrapper .module--forecast .module__items-item {
        border-top-color: var(--br-1);
        background-color: var(--bg-2);
    }
    .forecast-wrapper .module--forecast .module__items-item.module__items-item--selected,
    .forecast-wrapper .module--forecast .module__items-item:hover {
        background-color: var(--bg-3);
    }
    .forecast-wrapper .module--forecast .module__items-item:not(:last-child) {
        border-right-color: var(--br-1);
    }
    .forecast-wrapper .module--forecast .module__items-item.module__items-item--selected {
        border-top-color: var(--ac-1);
    }
    .forecast-wrapper .module--forecast .module__temperature-unit--on {
        border-bottom-color: var(--fg-2);
    }
    .js-forecast-module-detail-more.tx-clr--blue-dark {
        color: var(--ac-1) !important;
    }
    /* Section: Recipes */
    .tile--recipes .tile__source, .tile--recipes.highlight .tile__source {
        color: var(--fg-1);
    }
    /* Section: Stock */
    .ia-module--stocks .module__title,
    .ia-module--stocks .stocks-module__latestUpdate,
    .ia-module--stocks .stocks-module__exchange,
    .ia-module--stocks .stocks-module__currentPrice,
    .ia-module--stocks .stocks-module__currency,
    .ia-module--stocks .stocks-module__horizontal-labels,
    .ia-module--stocks .stocks-module__chart-area-row .stocks-module__vertical-labels,
    .ia-module--stocks .stocks-module__stats-wrapper .stocks-module__stats {
        color: var(--fg-2);
    }.ia-module--stocks .stocks-module__footer,
    .ia-module--stocks a.stocks-module__attribution {
        color: var(--fg-3);
    }
    .ia-module--stocks .stocks-module__range-content .stocks-module__timePeriod {
        background-color: var(--bg-2);
        border: 1px solid var(--br-1);
        color: var(--ac-1);
    }
    .ia-module--stocks .stocks-module__range-content .stocks-module__timePeriod:not(.selected):hover {
        background-color: var(--bg-3);
    }
    .ia-module--stocks .stocks-module__range-content .stocks-module__timePeriod.selected {
        background-color: var(--bg-3);
        color: var(--fg-2);
    }
    .ia-module--stocks .stocks-module__stats-wrapper .stocks-module__stats .stocks-module__stat-col .stocks-module__stat {
        border-bottom-color: var(--br-1);
    }
    .ia-module--stocks .stocks-module__chart-area-row .stocks-module__chart .horizontal-line,
    .ia-module--stocks .stocks-module__chart-area-row .stocks-module__chart .vertical-line {
        stroke: var(--br-1);
    }
    /* Section: Geometry */
    .geometry-svg .stroke {
        stroke: var(--fg-1) !important;
    }
    /* Section: COVID-19 */
    .ia-module-covid .module__grey {
        color: var(--fg-2);
        border-top-color: var(--br-1) !important;
    }
    .ia-module-covid .module__nav__item,
    .covid__table th {
        color: var(--fg-3);
    }
    .ia-module-covid .module__nav__item.is-active {
        border-bottom: 3px solid var(--ac-1);
        color: var(--ac-1);
    }
    .ia-module-covid .module__footer:hover {
        background-color: transparent !important;
    }
    .covid__links .module__more-at {
        color: var(--ac-1) !important;
    }
    .covid__table tr {
        border-bottom-color: var(--bg-3) !important;
    }
    .module.ia-module-covid .covid19__footer,
    .module.ia-module-covid .covid19__footer__separator,
    .module.ia-module-covid .covid19__footer a {
        color: var(--fg-3) !important;
    }
    /* Section: Info */
    .c-info__img-wrap--tile .c-info__img-wrap__in {
        background-color: var(--bg-3);
        border-color: var(--br-1);
    }
    .c-info__title__sub {
        color: var(--fg-3);
    }
    /* Section: Code */
    code {
        background-color: var(--bg-3);
        color: var(--fg-1);
    }
    .prettyprint,
    .prettyprint code {
        background-color: var(--bg-2) !important;
    }
    .module__text pre,
    .prettyprint {
        border: 1px solid var(--br-1);
    }
    .prettyprint .pun,
    .prettyprint .pln {
        color: var(--fg-1) !important;
    }
    /* Section: Lyrics */
    .module--lyrics .module--lyrics__subtitle-box {
        border-color: var(--br-1);
    }
    .module__inner-toggle::before,
    .module__inner-toggle::after {
        background-color: var(--br-1);
    }
    .module--lyrics:not(.is-expanded) .module--lyrics__footer.can-expand::after {
        background: linear-gradient(transparent, var(--bg-2));
    }
    /* Section: Others */
    .zci__header,
    .zci__body,
    .zci__body h1,
    .zci__body h3,
    .zci__body a,
    .zci code,
    .chomp--link__mr,
    .chomp--link__mr:hover,
    .chomp--link:hover .chomp--link__mr,
    .chomp--link__ls,
    .chomp--link__ls:hover,
    .chomp--link:hover .chomp--link__ls,
    .chomp--link__icn::before,
    .zci__more-at:hover,
    .text--primary {
        color: var(--fg-2);
    }
    .zci,
    .zci__header__sub,
    .zci__body h4,
    .zci__body h6,
    .c-icon__sub,
    .text--secondary {
        color: var(--fg-3);
    }
    .zcm__sep {
        border-left: var(--br-1);
    }
    .c-icon__content,
    .c-base__link,
    .c-base__link--more a {
        color: var(--fg-2);
    }
    .zci__body a,
    .zci__body a:hover {
        color: var(--fg-1) !important;
    }
    .zci .frm__select,
    .zci .frm__select select {
        background-color: var(--bg-3) !important;
        border-color: var(--br-1) !important;
    }
    .zci .frm__select:hover select {
        background-color: var(--br-1) !important;
    }
    .zci .frm__select::after {
        background-color: transparent !important;
    }
    .zci--cheat_sheets code {
        background-color: var(--bg-3);
        border-color: var(--br-1);
    }
    /* Showcase */
    .showcase .showcase__heading {
        color: var(--fg-1);
    }
    .showcase .showcase__dropdown-top .showcase__subheading {
        color: var(--fg-2);
    }
    .showcase .showcase__dropdown-top .showcase__dropdown__list:hover {
        background-color: var(--bg-3);
    }
    .showcase .showcase__dropdown-bottom {
        background-color: var(--bg-1) !important;
        border-top-color: var(--br-1);
    }
    /* Right sidebar */
    .nav-menu--slideout {
        background-color: var(--bg-2);
        border-left: 1px solid var(--br-1);
        box-shadow: none !important;
    }
    @media only screen and (max-width: 590px) {
        .nav-menu--slideout:not(.page-settings .nav-menu--slideout) {
            border-left: 0;
            border-right: 1px solid var(--br-1);
        }
    }
    .nav-menu__heading {
        color: var(--fg-3);
    }
    .nav-menu__item > a,
    .nav-menu__item > a:hover {
        color: var(--fg-2);
    }
    .nav-menu__close,
    .nav-menu__close:hover {
        color: var(--fg-3);
    }
    /* Settings */
    .page-settings,
    .page-settings .site-wrapper {
        background-color: var(--bg-1) !important;
    }
    .page-settings .content-wrap {
        margin-top: 6em;
    }
    .page-settings .header-wrap {
        position: fixed;
        width: 100%;
        padding-top: 10px;
    }
    @media only screen and (min-width: 591px) {
        .page-settings .header__logo-wrap {
            width: 90px;
        }
        .page-settings .header--aside {
            margin-top: 0 !important;
        }
        .page-settings .header__search-wrap,
        .page-settings .content__internal {
            padding-left: 250px;
        }
        .page-settings .content__internal {
            padding-top: 0;
        }
        .set-head,
        .set-head__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            border-bottom: 0;
            left: 0;
        }
        .set-head__title {
            position: relative;
            margin-left: 20px;
            font-size: 1.1em;
        }
        .set-head__menu {
            margin-top: 36px;
        }
        .set-head__menu .set-tab,
        .set-head__menu .set-tab.is-active {
            width: 200px;
            background-color: transparent !important;
            color: var(--fg-3);
            border: 0;
            border-radius: 0;
            margin-left: 0;
            margin-bottom: 2px;
            padding: 8px 0 8px 28px;
            text-align: left;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .set-head__menu .set-tab.is-active {
            color: var(--ac-1);
        }
        .set-tab.js-set-head-tab.js-set-general::before,
        .set-tab.js-set-head-tab.js-set-appearance::before,
        .set-tab.js-set-head-tab.js-set-privacy::before {
            content: "";
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            top: 4px;
            margin-right: 20px;
            position: relative;
            display: inline-block;
            filter: var(--ic-f);
        }
        .set-main .set-tab.is-active::before {
            filter: var(--ac-f);
        }
        .set-tab.js-set-head-tab.js-set-general::before {
            background-image: var(--ic-general);
        }
        .set-tab.js-set-head-tab.js-set-appearance::before {
            background-image: var(--ic-appearance);
        }
        .set-tab.js-set-head-tab.js-set-privacy::before {
            background-image: var(--ic-privacy);
        }
        .set-main {
            padding: 0;
            border-radius: 6px;
            background-color: var(--bg-2);
            box-shadow: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .05) 0 1px 3px 1px;
            box-sizing: border-box;
        }
    }
    @media only screen and (max-width: 590px) {
        .page-settings .header-wrap .header--aside {
            margin-top: 2.5px;
        }
        .set-head__menu .set-tab,
        .set-head__menu .set-tab.is-active {
            background-color: transparent !important;
            color: var(--fg-3);
            border: 0;
            border-radius: 0;
            padding: 0;
            border-bottom: 3px solid transparent;
            margin: 0 10px;
        }
        .set-head__menu .set-tab.is-active {
            border-bottom-color: var(--ac-1);
            color: var(--ac-1);
        }
        .set-head {
            border-bottom: 0;
            margin-bottom: 0;
        }
        .set-detail {
            padding: 0;
            border-radius: 6px;
            background-color: var(--bg-2);
            box-shadow: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .05) 0 1px 3px 1px;
            box-sizing: border-box;
        }
        .set-main .frm__field:last-child {
            border-bottom: 0;
        }
    }
    @media only screen and (max-width: 864px) {
        .set-side {
            margin: 1em 0 0 0 !important;
        }
    }
    @media only screen and (min-width: 1080px) {
        .page-settings .header--aside {
            margin-top: 16px !important;
        }
    }
    .set-main .frm__hr {
        display: none !important;
    }
    .set-main .frm__field {
        padding: 1.5em 1.75em;
        border-bottom: 1px solid var(--bg-3);
    }
    .set-main .frm__label {
        font-size: 1em;
        color: var(--fg-1);
    }
    .set-main .frm__desc {
        font-size: .9em;
        color: var(--fg-3);
    }
    .set-main .frm__select,
    .set-main .frm__color .frm__input {
        background-color: var(--bg-2);
        border: 0;
        border-radius: 6px 6px 0 0;
        border-bottom: 2px solid var(--br-1);
    }
    .set-main .frm__select:hover,
    .set-main .frm__select:focus,
    .set-main .frm__select:hover select,
    .set-main .frm__select:focus select,
    .set-main .frm__color .frm__input:hover,
    .set-main .frm__color .frm__input:focus {
        background-color: var(--bg-3) !important;
        border-bottom-color: var(--ac-1);
    }
    .set-main .frm__switch__label.btn {
        width: 32px;
        height: 8px;
        border: 0;
        border-radius: 99px;
        font-size: 0;
        top: 4px;
    }
    .set-main .frm__switch__label.btn::after {
        display: inline-block;
        position: absolute;
        content: "";
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, .15);
        width: 16px;
        height: 16px;
        border-radius: 99px;
        left: 0;
        top: -2px;
    }
    .set-main .is-checked .frm__switch__label.btn {
        background-color: var(--sw-b);
    }
    .set-main .is-checked .frm__switch__label.btn::after {
        left: 16px;
    }
    .set-themes .set-theme {
        border-radius: 8px;
    }
    .set-themes .set-theme.is-checked .set-theme__check {
        background-color: var(--ac-1) !important;
        color: var(--bg-2);
    }
    .set-themes .set-theme.is-checked + .set-theme__label {
        color: var(--ac-1);
    }
    .set-main-footer {
        border-top: 0;
        margin-top: 0;
    }
    .page-settings {
        color: var(--fg-2);
    }
    .colorpicker {
        background-color: var(--bg-3);
        box-shadow: var(--md-s);
    }
    .colorpicker__nub {
        background-color: var(--bg-3);
        border-top-color: var(--bg-3);
        border-right-color: var(--bg-3);
    }
    .frm__color__swatch {
        width: 2em;
        border-color: var(--br-1);
        border-radius: 99px;
    }
    .set-side {
        margin-left: 1em;
        margin-top: 0;
    }
    .cloudsave {
        background-color: var(--bg-2) !important;
        box-shadow: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .05) 0 1px 3px 1px;
        border-radius: 6px;
    }
    .cloudsave a,
    .frm__desc a {
        color: var(--ac-1) !important;
        text-decoration: none !important;
    }
    .set-side .btn {
        background-color: var(--bg-2) !important;
        border: 1px solid var(--br-1);
        color: var(--ac-1);
    }
    .set-side .btn:hover {
        background-color: var(--bt-h) !important;
    }
    .set-reset,
    .set-bookmarklet {
        background-color: var(--bg-2) !important;
        color: var(--ac-1);
        box-shadow: rgba(0, 0, 0, .2) 0 1px 2px 0, rgba(0, 0, 0, .05) 0 1px 3px 1px;
        border: 0;
        border-radius: 6px;
    }
    .set-reset:hover,
    .set-bookmarklet:hover {
        background-color: var(--bt-h) !important;
    }
    .set-reset__detail,
    .set-bookmarklet__detail {
        background-color: var(--bg-2) !important;
        border-radius: 6px;
    }
    .set-bookmarklet__input,
    .set-bookmarklet__data {
        background-color: var(--bg-3);
        color: var(--fg-2);
        outline: none;
    }
    .set-bookmarklet__label,
    .set-bookmarklet__info,
    .set-bookmarklet__close {
        color: var(--fg-3);
    }
    .set-bookmarklet__info a {
        color: var(--ac-1);
    }
    /* Badge */
    .badge-link {
        background-color: var(--bg-2);
        border-color: var(--br-1);
    }
    .badge-link__title,
    .badge-link__bullets,
    .badge-link__cookie-msg,
    .atb-new .badge-link__title,
    .atb-new .badge-link__checkbox {
        color: var(--fg-2);
    }
    .badge-link__cookie-msg a {
        color: var(--ac-1);
    }
    .badge-link--newsletter .badge-link-illustration__text-wrapper {
        color: var(--fg-3);
    }
    .badge-link__close {
        color: var(--fg-2);
    }
    .atb-new .badge-link__checkbox.badge-link__checkbox_checked,
    .atb-new .badge-link__checkbox__container::before {
        background-color: var(--bg-3);
    }
    .is-link-style-exp .atb-new .badge-link__out a {
        color: var(--ac-1) !important;
    }
    /* Toast */
    .notification__text {
        border-radius: 99px;
        border: 1px solid var(--br-1);
        box-shadow: var(--md-s);
        background-color: var(--bg-2);
        color: var(--fg-1);
    }
    /* Page footer */
    .footer,
    .footer--mobile {
        border-top-color: var(--br-1) !important;
        background-color: var(--bg-1) !important;
    }
    .footer__card {
        border-color: var(--br-1) !important;
        background-color: var(--bg-2) !important;
    }
    .footer__card__title,
    .footer__title {
        color: var(--fg-1) !important;
    }
    .footer__text {
        color: var(--fg-2) !important;
    }
    .footer__social-icon {
        filter: var(--ic-f);
    }
    /* Open in App */
    .open-in-app__deep-link {
        background-color: var(--ac-1) !important;
        color: var(--bg-2) !important;
    }
    /* Promo */
    a.header--text_promo--link,
    a.header--text_promo--link:active,
    a.header--text_promo--link:visited {
        color: var(--fg-3);
    }
    .header--text_promo a:hover {
        background-color: var(--bg-2);
        color: var(--fg-2);
        border-bottom-color: var(--fg-2);
    }
    /* Feedback */
    .feedback-prompt {
        color: var(--fg-3);
    }
    .feedback-btn,
    .btn.feedback-btn {
        background-color: var(--bg-2);
        border: 1px solid var(--br-1);
    }
    .feedback-btn:hover {
        background-color: var(--bg-3) !important;
    }
    .feedback-btn__send {
        color: var(--ac-1) !important;
    }
    .btn.feedback-btn a,
    .nav-menu__feedback__icon {
        color: var(--fg-3);
    }
    .btn.feedback-btn a:hover,
    .nav-menu__feedback__icon:hover {
        color: var(--fg-2);
    }
    .btn.feedback-btn--clicked {
        background-color: var(--bg-2) !important;
    }
}

